<app-navbar></app-navbar>
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-5">

            <div class="card m-3 text-center align-items-stretch " routerLink="/category">
                <div class="card-body d-flex justify-content-center align-items-center flex-column">
                    <h1><i class="fas fa-tools"></i></h1><br>
                    <h4>Manage categories</h4>
                </div>
            </div>
        </div>
        <div class="col-5 " routerLink="/all">
            <div class="card m-3 text-center align-items-stretch ">
                <div class="card-body d-flex justify-content-center align-items-center flex-column">
                    <h1><i class="fas fa-toolbox"></i></h1><br>
                    <h4>Manage items</h4>
                </div>
            </div>
        </div>
    </div>
</div>