<div class="background">
    <div class="container ">
        <div class="row">
            <div class="col-12">
                <div class="image mt-3 vh-80 d-flex justify-content-center align-items-center">
                    <img src="assets/images/frog-removebg-preview.png" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-5">
                <div class="input-group mt-5">
                    <input type="email" class="form-control" name="email" #email placeholder="Enter your password reset email">
                    <button class="btn input-group-text" (click)="authService.resetPassword(email.value)">Send</button>
                </div>
                <h4 class="text-center mt-4" routerLink="/sign-in"><b>Go back to Sign In</b></h4>

            </div>
        </div>
    </div>
</div>